<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ImmuniCare">
        <activity
            android:name=".schedule.ScheduleDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".schedule.RequestedScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".menu.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".menu.AdminMenuActivity"
            android:exported="false" />
        <activity
            android:name=".records.ImmunizationRecordActivity"
            android:exported="false" />
        <activity
            android:name=".vaccines.VaccineAddActivity"
            android:exported="false" />
        <activity
            android:name=".vaccines.VaccineEditActivity"
            android:exported="false" />
        <activity
            android:name=".validating.UserDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".concerns.ConcernsActivity"
            android:exported="false" />
        <activity
            android:name=".vaccines.VaccinesActivity"
            android:exported="false" />
        <activity
            android:name=".announcements.MakeAnnouncementActivity"
            android:exported="false" />
        <activity
            android:name=".announcements.AnnouncementActivity"
            android:exported="false" />
        <activity
            android:name=".validating.ValidatingUserActivity"
            android:exported="false" />
        <activity
            android:name=".AdminMainActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>