<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera2.full" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.gms.permission.CONSTELLATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ImmuniCare"
        tools:targetApi="31">
        <activity
            android:name=".user.immunization.UserImmunizationHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".healthworker.update.HwEditChildInfoActivity"
            android:exported="false" />
        <activity
            android:name=".healthworker.main.HwHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".user.ImmunizationRecordListActivity"
            android:exported="false" />
        <activity
            android:name=".healthworker.update.QrScannerActivity"
            android:exported="false" />
        <activity
            android:name=".healthworker.update.ImmunizationUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".healthworker.update.ChildInfoActivity"
            android:exported="false" />
        <activity
            android:name=".healthworker.menu.HwMenuActivity"
            android:exported="false" />
        <activity
            android:name=".healthworker.HWMainActivity"
            android:exported="false" />
        <activity
            android:name=".user.setting.UserMenuActivity"
            android:exported="false" />
        <activity
            android:name=".user.setting.LogoutActivity"
            android:exported="false" />
        <activity
            android:name=".user.concern.ConcernActivity"
            android:exported="false" />
        <activity
            android:name=".user.setting.reminder.AddReminderActivity"
            android:exported="false" />
        <activity
            android:name=".user.setting.notification.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".user.setting.reminder.ReminderActivity"
            android:exported="false" />
        <activity
            android:name=".user.setting.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".user.articles.ArticleDetailActivity"
            android:exported="false" />
        <activity
            android:name=".user.ArticleActivity"
            android:exported="false" />
        <activity
            android:name=".user.ImmunizationRecordActivity"
            android:exported="false" />
        <activity
            android:name=".user.ChildQRCodeActivity"
            android:exported="false" />
        <activity
            android:name=".user.ChildDataActivity"
            android:exported="false" />
        <activity
            android:name=".user.AddMoreActivity"
            android:exported="false" />
        <activity
            android:name=".user.ChildInputActivity"
            android:exported="false" />
        <activity
            android:name=".user.UserMainActivity"
            android:exported="false" />
        <activity
            android:name=".auth.SuccessfulActivity"
            android:exported="false" />
        <activity
            android:name=".calendar.CalendarActivity"
            android:exported="false" />
        <activity
            android:name=".auth.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>